# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
*.env

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Visual Studio Code
.vscode/

# Data files
data/

# Secrets and configuration files
config.py

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled Python extensions
*.so

# Testing outputs
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/